.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8em;
}
.result button {
  background-color: #ff1c70;
  color: white;
  font-size: 4rem;
  width: 25rem;
  padding: 1rem;
  border-radius: 1rem;
}
